############
## Server Config Profile "default"
##

profile_name = Default
cave_mode_allowed = false
cave_mode_allowed_dimensions = []
cave_mode_depth = 30
legible_cave_maps = false
auto_cave_mode = 0
cave_mode_toggle_timer = 1.0
default_cave_mode_type = 1
display_cave_mode_start = true